h1{
    font-size: 48px;
    color: darkblue;
    text-align: center;
    background-image: url(../img/prueba.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;

  }

  header{

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-color: #3042a0;
    background-position: 20px 5px;
    height: 60px;
    
    }

article {
    padding: 20px;
}