h1{
    font-size: 48px;
    color: darkblue;
    margin: 20px 20px 20px 0;
    text-align: center;
    background-image: url(../img/prueba.png);
    background-repeat: no-repeat;
    background-color: darkturquoise;
    height: 120px;
    width: 100%;

  }

  header{

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-color: #3042a0;
    background-position: 20px 5px;
    height: 120px;
    
    }

article {
    padding: 20px;
}